html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

h1 {
  text-align: center;
}

#se3351-final-project {
  margin: 0px;
  text-align: center;
}

#authors {
  text-align: center;
}

.intro {
  width: 100%;
  align-self: center;
  align-content: center;
  text-align: center;
  align-items: center;
}

table {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

tbody {
  border: 1px solid black;
  margin: 0px;
}

td {
  padding-right: 20px;
  padding-left: 20px;
}

.diagrams h2 {
  text-align: center;
}

figure {
  width: fit-content;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
  align-items: center;
}

figcaption {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
img {
  border: 0px;
  margin-left: auto;
  margin-right: auto;
}